{% extends "eZDemoBundle::pagelayout.html.twig" %}

{% block content %}
    <div class="content-view-full sylius-product clearfix">
        <h1 class="att-title page-header">{{ ez_render_field( content, 'name' ) }}</h1>

        {% if not ez_is_field_empty( content, 'image' ) %}
            <div class="att-image">
                {{ ez_render_field( content, 'image', { 'parameters': { 'alias': 'medium' } } ) }}
            </div>
        {% endif %}

        {% if not ez_is_field_empty( content, 'description' ) %}
            <div class="att-body">
                {{ ez_render_field( content, 'description' ) }}
            </div>
        {% endif %}

    </div>

    <p> PRICE:

{{ ez_render_field(
   content,
   'sylius_product',
   {
       'parameters':
       {
           'show' : [ 'price', 'form' ]
       }
    }
) }}

</p>


{% endblock %}
