<header>
    <div class="container">
        <div class="navbar extra-navi">
            <div class="nav-collapse row">

                {% block userlinks %}
                    {{ knp_menu_render('sylius.frontend.main', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
                {% endblock %}
            </div>
        </div>
        <div class="row">
            {% block logo %}
                {% include 'eZDemoBundle::page_header_logo.html.twig' %}
            {% endblock %}

            {% block searchbox %}
                
            {% endblock %}
        </div>
    </div>
</header>
